<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    window.IEX_API_KEY = "<%= Rails.application.credentials.IEX_API[:key] %>"
</script>

<main id="root">
    React not loaded!
</main>