/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: sans-serif
}


.nav-bar {
    display: flex;
    margin-left: 300px;
    align-items: center;
    background-color: white;
    font-weight: 600;
    color: #1835C3;
}

.dropdown {
    display: flex;
    position: relative;

}

.dropdown-title {
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-title:hover {
    color: #00804D;
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.login-buttons {
    margin-left: auto;
    margin-right: 300px;
}

#login {
    text-decoration: none;
    padding-right: 20px;
}

#login:hover {
    color: #00804D;
}

#signup {
    text-decoration: none;
    border: 2px solid #1835C3;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#signup:hover {
    background-color: #1835C3;
    color: white;
    cursor: pointer;
    transition: background-color .2s linear;
}

/* ALL ABOVE FOR NAV BAR */

.splash-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.splash-text {
    width: 20%;
}

.splash-image {
    width: 40%
}