.nav-bar {
    display: flex;
    margin-left: 300px;
    align-items: center;
    background-color: white;
    font-weight: 600;
    color: #1835C3;
}

.dropdown {
    display: flex;
    position: relative;

}

.dropdown-title {
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-title:hover {
    color: #00804D;
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.login-buttons {
    margin-left: auto;
    margin-right: 300px;
}

#login {
    text-decoration: none;
    padding-right: 20px;
    color: #1835C3;
}

#login:hover {
    color: #00804D;
}

#signup {
    text-decoration: none;
    border: 2px solid #1835C3;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1835C3;
}

#signup:hover {
    background-color: #1835C3;
    color: white;
    cursor: pointer;
    transition: background-color .2s linear;
}

.logged-in-nav-bar {
    background-color: #12123D;
}

.logged-in-nav-container {
    display: flex;
    color: white;
}

.logged-in-nav-container p {
    padding-left: 20px;
}

.logged-in-nav-container p:hover {
    cursor: pointer;
}

.logged-in-nav-bar{
    display: flex;
    padding-left: 300px;
    height: 70px;
    align-items: center;
}

.profile-button {
    color: white;
    border: 1px solid #DDAA47;
    border-radius: 100px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
}

.profile-button img{
    padding-right: 3px;
}

.profile-button-container{
    margin-left: auto;
    padding-right: 300px;
}

.profile-button-container:hover {
    cursor: pointer;
}

.logged-in-nav-logo:hover {
    cursor: pointer;
}