.nav-bar {
    display: flex;
    margin-left: 300px;
    align-items: center;
    background-color: white;
    font-weight: 600;
    color: #1835C3;
}

.dropdown {
    display: flex;
    position: relative;

}

.dropdown-title {
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown-title:hover {
    color: #00804D;
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.login-buttons {
    margin-left: auto;
    margin-right: 300px;
}

#login {
    text-decoration: none;
    padding-right: 20px;
}

#login:hover {
    color: #00804D;
}

#signup {
    text-decoration: none;
    border: 2px solid #1835C3;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#signup:hover {
    background-color: #1835C3;
    color: white;
    cursor: pointer;
    transition: background-color .2s linear;
}