.portfolio-info-container {
    display: flex;
    background-color: #EBF4F2;
    height: 300px;
    align-items: center;
    // justify-content: space-around;
}

.portfolio-info {
    // flex: 3;
    margin-left: auto;
    width: 910px;
}

.portfolio-info-name {
    font-size: 50px;
}

.buying-power-container {
    // flex: 1;
    width: 300px;
}

.current-value {
    font-size: 52px;
    margin: 0;
    font-weight: 100;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.current-value-title{
    margin: 0;
    font-size: 12px;
    color: #606C82;
}

.buying-power-container {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 2px solid #EBF4F2;
}

.buying-power {
    padding: 5px 20px;
}

.deposit-button {
    background-color: #0020BD;
    color: white;
    border-radius: 5px;
    padding: 0px 10px; 
    margin-right: 20px;
    width: 100px;
    text-align:center;
}

.deposit-button:hover {
    cursor: pointer;
    background-color: #00178A;
}

.auto-invest-container{
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cash-balance{
    margin: 0;
    color: #606C82;
}

.cash-balance-number {
    font-size: 25px;
    margin: 0;
    font-weight: 700;
}

.deposit-container{
    width: 300px;
    margin-right: auto;
}

#portfolio-back {
    text-decoration: none;
    font-weight: 700;
    color: #00008B;
}