.portfolio-index-container {
  display: flex;
  flex-direction: column;
  // margin: auto;
  width: 98%;
  // padding: 0px;
}

.portfolio-index-header {
  display: flex;
  background-color: #f6f7fb;
  border-top: 1px solid #bcc4d2;
  border-left: 1px solid #bcc4d2;
  border-right: 1px solid #bcc4d2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
}

.portfolio-index-header p {
  font-size: 12px;
  color: #7982b4;
}

.portfolio-index-item {
  display: flex;
  border-left: 1px solid #bcc4d2;
  border-right: 1px solid #bcc4d2;
  border-bottom: 1px solid #bcc4d2;
  padding-left: 20px;
  align-items: center;
  height: 80px;
  font-size: 14px;
}

.research-stock-index-container:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.activity-index-item {
  display: flex;
  border-left: 1px solid #bcc4d2;
  border-right: 1px solid #bcc4d2;
  border-bottom: 1px solid #bcc4d2;
  padding-left: 20px;
  align-items: center;
  height: 80px;
  font-size: 14px;
}

.portfolio-index-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio-name {
  display: flex;
  flex: 3;
}

.item-value {
  flex: 1;
}

.header-value {
  flex: 1;
}

.header-name {
  flex: 3;
}

.portfolio-name p {
  padding-left: 20px;
}

.portfolio-index-item:hover {
  cursor: pointer;
  background-color: #d9def5;
}

.activity-index-item:hover {
  background-color: #d9def5;
}

.slice-title {
  font-size: 24px;
  padding-top: 10px;
}

.portfolio-index-item {
  justify-content: space-between;
}

.news-title {
  color: #0000ee;
  font-weight: 700;
}

.news-image {
  margin-right: 20px;
  border-radius: 8px;
}

.pie-value {
  font-weight: 500;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

.portfolio-header {
  color: white;
  position: absolute;
  z-index: 2;
  padding-left: 20px;
  font-size: 20px;
  padding-top: 10px;
}

.portfolio-graph-value {
  position: absolute;
  color: white;
  z-index: 1;
  padding-left: 20px;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 700;
}

.portfolio-graph-label {
  position: absolute;
  color: white;
  z-index: 1;
  padding-left: 20px;
  font-size: 14px;
  padding-top: 45px;
  font-weight: 700;
}
