.portfolio-chart {
    margin: auto;
}

.chart-container {
    // display: flex;
}

.portfolio-content-container {
    display: flex;
    justify-content: center;
}

.portfolio-pie-container {
    border: 1px solid #C1C8D5;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-top: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-pie {

}

.portfolio-main-content {
}
