.portfolio-chart {
    margin: auto;
}

.chart-container {
    // display: flex;
    background-color: #12123D;
    margin: 5px 20px 5px 0px;
    border-radius: 5px;
}


.portfolio-content-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #EBF4F2 20%, white 20%);
}

.portfolio-pie-container {
    border: 1px solid #C1C8D5;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin-top: 4px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white
}

.portfolio-pie {

}

.portfolio-main-content {
}

.dashboard-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.dashboard-footer-text {
    width: 600px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #606C82;
}

.footer-social a{
    padding: 5px;
}

.pie-section-title {
    position: absolute;
    top: -50px;
    left: -30px;
}

.pie-title-container {
    position: relative;
}