.research-index-container {
    margin: 50px 200px;
}

.research-nav-bar {
    background-color: #F6F7FB;
    border-bottom: 1px solid #D9DEE7;
    height: 50px;
    align-items: center;
    display: flex;
}

.research-nav-container {
    padding-left: 290px;

}

.research-nav-content {
    color: #606C82;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}


.stock-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.stock-content:hover {
    cursor: pointer;
}


.stock-name {
    margin-left: 100px;
    width: 400px;
}


.stock-research-price {
    margin-left: auto;
    margin-right: 100px;
}

.stock-research-price {
    font-size: 18px;
}

.research-nav-content:hover {
    background-color: #D9DEF5;
    border-radius: 20px;
}

.research-nav-container .active {
    background-color: #DDFA04;
    border-radius: 20px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.holding-quantity {
    width: 15%;
}

.image-placeholder {
    display: none;
}

.activity-name {
    margin-left: 100px;
    width: 400px;
    font-weight: 700;
}