.stock-show-container {
  display: flex;
  padding: 50px 100px;
  background-color: white;
}
.stock-show-news-container {
  width: 100%;
}

.stock-show-small {
  display: flex;
  justify-content: space-between;
}

.stock-show-profile-container {
  width: 100%;
  margin-right: 60px;
}
